# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/build
/.swc/
/build/
/build/cache/
/.cache/
/.turbo/

# production
/build
/dist

# misc
.DS_Store
*.pem
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production*

# vercel
.vercel
.vercel.json

# production builds
/build
/dist
/out

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# deployment
deploy.zip

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 